<!--NAVBAR-->
        <nav class="navbar navbar-default" id="navbar">
            <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/upkeep"><strong>up-keep</strong></a>
                  </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/upkeep/preventative">Preventative</a></li>
                        <li><a href="/upkeep/howto">How do I</a></li>
                        <li><a href="/upkeep/findhelp">Get Help</a></li>
                        <li><div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div></li>
                        <li><div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div></li>
                  </ul>
            </div>
        </nav>

                <div class="page-header4">
  <img id="purple" src="/img/pictures/purple.jpg">
</div>

<div class="container text-center">
    <h4>up-keep was created by a unique and diverse set of developers, Together we make up Purple-Tree. We strive to provide users with unique, engaging, and easy to use web app soultions. We have created everything from Story Book Apps, to this home maintenance app you are using now.</h4>
</div>


<div class="container">
    <ul class="list-group">
<li><a href="https://github.com/airetriton" target="_blank">Nicole Wobbe-Espinoza</a></li>
<li><a href="https://github.com/ljreader" target="_blank">LJ Reader</a></li>
<li><a href="https://github.com/raphatapi" target="_blank">Raphael Tapioca</a></li>
<li><a href="https://github.com/b-withers" target="_blank">Brady Withers</a></li>
<li><a href="https://github.com/kferny1" target="_blank">Kyle Fernelius</a></li>
</ul>
</div>


 <!--FOOTER-->
    <div class="footer">
        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><strong>&copy 2018 up-keep</strong>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/upkeep">Home</a></li>
              <li><a href="/upkeep/preventative">Preventative</a></li>
              <li><a href="/upkeep/howto">How do I</a></li>
              <li><a href="/upkeep/findhelp">Find Help</a></li>
              <li class="divider"></li>
              <li><a href="/upkeep/about">About Us</a></li>
            </ul>
          </div>
        </div>