                <!--NAVBAR-->
                <nav class="navbar navbar-default" id="navbar">
                        <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="/upkeep"><strong>up-keep</strong></a>
                              </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="/upkeep/preventative">Preventative</a></li>
                                    <li><a href="/upkeep/howto">How do I</a></li>
                                    <li><a href="/upkeep/findhelp">Get Help</a></li>
                              </ul>
                        </div>
                    </nav>


                    <div class="page-header2">
  <img id="helpheader" src="/img/pictures/helpbanner.jpg">
</div>

                    <div class="container">
                            <div class="row">
                            <h2 class="text-center">What Type of help are you looking for?</h2>
                            <p class="text-center">We can help you find a Plumber, and Electrician, even a landscape contractor. Just type what you are looking for in the search boxes below.</p>
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6">
                                    <div class="col-xs-3"></div>
                                    <div id="imaginary_container"> 
                                        <div class="input-group stylish-input-group">
                                            <input id="yelpTerm" type="test" class="form-control"  placeholder="Plumber, HVAC, etc" >
                                            <span class="input-group-addon">
                                                <button id = "searchButton" type="submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>  
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6">
                                    <div class="col-xs-3"></div>
                                    <div id="imaginary_container"> 
                                        <div class="input-group stylish-input-group">
                                            <input id="yelpLocation" type="test" class="form-control"  placeholder="In What City" >
                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container" id="yelp">
                            
    
                            </div>

       <!--FOOTER-->
       <div class="footer">
            <div class="container-fluid" id="footermobile">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/upkeep/index"><strong>&copyup-keep</strong></a>
                  </div>
                    <ul class="nav navbar-nav">
                        <li  id="footerMobile"><a href="/upkeep/preventative">Preventative</a></li>
                        <li  id="footerMobile"><a href="/upkeep/howto">How do I</a></li>
                        <li  id="footerMobile"><a href="/upkeep/findhelp">Get Help</a></li>
                  </ul>
            </div>  
    </div>                
