                <!--NAVBAR-->
                <nav class="navbar navbar-default" id="navbar">
                        <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="/upkeep"><strong>up-keep</strong></a>
                              </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="/upkeep/preventative">Preventative</a></li>
                                    <li><a href="/upkeep/howto">How do I</a></li>
                                    <li><a href="/upkeep/findhelp">Get Help</a></li>
                              </ul>
                        </div>
                    </nav>


                    <div class="page-header2">
  <img id="helpheader" src="/img/pictures/helpbanner.jpg">
</div>
<div class="container">
                    <div class="container">
                            <div class="row">
                            <h2 class="text-center">What Type of help are you looking for?</h2>
                            <p class="text-center">We can help you find a Plumber, an Electrician, even a landscape contractor (pretty much whatever you need)!</p>
                                
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                     <div class="col-lg-2"></div>
                                    <div id="imaginary_container"> 
                                        <div class="input-group stylish-input-group yelpshadow">
                                            <input id="yelpTerm" type="test" class="form-control"  placeholder="Plumber, HVAC, etc" >
                                            <span class="input-group-addon">
                                                <button id = "yelpSearchBttn" type="submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>  
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                     <div class="col-lg-2"></div>
                                    
                                    <div id="imaginary_container"> 
                                        <div class="input-group stylish-input-group yelpshadow">
                                            <input id="yelpLocation" type="test" class="form-control"  placeholder="In What City" >
                                            <span class="input-group-addon"></span>
                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                        <br>

                        <div class="container" id="yelp">
                            
    
                            </div>

       <!--FOOTER-->
    <div class="footer">
        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><strong>&copy 2018 up-keep</strong>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/upkeep">Home</a></li>
              <li><a href="/upkeep/preventative">Preventative</a></li>
              <li><a href="/upkeep/howto">How do I</a></li>
              <li><a href="/upkeep/findhelp">Find Help</a></li>
              <li class="divider"></li>
              <li><a href="/upkeep/about">About Us</a></li>
            </ul>
          </div>
        </div>               
