<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--BOOTSTRAP-->
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<!--LINK TO CSS-->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Chivo:700" rel="stylesheet">

	<!--JQUERY CDN-->
	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

    <script type="text/javascript" src="../models/java.js"></script>
    <script type="text/javascript" src="../youtubeAPI.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
                <!--NAVBAR-->
                <nav class="navbar navbar-default" id="navbar">
                        <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="index.html"><strong>up-keep</strong></a>
                              </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="preventative.html">Preventative</a></li>
                                    <li><a href="howto.html">How do I</a></li>
                                    <li><a href="findhelp.html">Get Help</a></li>
                              </ul>
                        </div>
                    </nav>

                    <img src="https://placeimg.com/2000/200/any">
                    <div class="container text-center">
                    <h2>What type of project do you need help with?</h2>
                    </div>

                    <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div id="imaginary_container"> 
                                        <div class="input-group stylish-input-group">
                                            <input type="text" class="form-control" placeholder="Search" >
                                            <span class="input-group-addon">
                                                <button id="searchButton" type="submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>  
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="container" id="main-content">

    
</div>
     <!--FOOTER-->
     <div class="footer">
            <p id="ftext"><strong>&copy 2017 up-keep</strong></p>  
    </div>
</body>