                <!--NAVBAR-->
                <nav class="navbar navbar-default" id="navbar">
                        <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="/upkeep"><strong>up-keep</strong></a>
                              </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="/upkeep/preventative">Preventative</a></li>
                                    <li><a href="/upkeep/howto">How do I</a></li>
                                    <li><a href="/upkeep/findhelp">Get Help</a></li>
                              </ul>
                        </div>
                    </nav>

                    <div class="page-header1">
  <img id="checkheader" src="/img/pictures/project.jpg">
</div>

                    

                    <div class="container">
                        <h1 class="text-center">What type of project do you need help with?</h1>
                        <p class="text-center">Be specific with your search! Try searching for "Change Anode Rod" and see what happens.</p>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 youtubeSearch">
                                    <div id="imaginary_container"> 
                                        <div class="input-group stylish-input-group">
                                            <input id="youtubeSearch" type="text" class="form-control" placeholder="Search" >
                                            <span class="input-group-addon">
                                                <button id="searchButton" type="submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>  
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="container" id="main-content">
    
    <div class="general-video">
</div>
</div>

    
</div>
     <!--FOOTER-->
    <div class="footer">
        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><strong>&copy 2018 up-keep</strong>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/upkeep">Home</a></li>
              <li><a href="/upkeep/preventative">Preventative</a></li>
              <li><a href="/upkeep/howto">How do I</a></li>
              <li><a href="/upkeep/findhelp">Find Help</a></li>
              <li class="divider"></li>
              <li><a href="/upkeep/about">About Us</a></li>
            </ul>
          </div>
        </div> 
