<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--BOOTSTRAP-->
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<!--LINK TO CSS-->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Chivo:700" rel="stylesheet">

	<!--JQUERY CDN-->
	<script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

    <!-- <script type="text/javascript" src="../models/java.js"></script> -->
    <!-- <script type="text/javascript" src="../apis/youtubeAPINicole.js"></script> -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
                <!--NAVBAR-->
                <nav class="navbar navbar-default" id="navbar">
                        <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="index.html"><strong>up-keep</strong></a>
                              </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="preventative.html">Preventative</a></li>
                                    <li><a href="howto.html">How do I</a></li>
                                    <li><a href="findhelp.html">Get Help</a></li>
                              </ul>
                        </div>
                    </nav>

                    <img src="https://placeimg.com/2000/200/any">
                    <div class="container text-center">
                    <h2>What type of project do you need help with?</h2>
                    </div>

                    <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div id="imaginary_container"> 
                                        <div class="input-group stylish-input-group">
                                            <input id="youtubeSearch" type="text" class="form-control" placeholder="Search" >
                                            <span class="input-group-addon">
                                                <button id="searchButton" type="submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>  
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<div class="container" id="main-content">
<p>videos goes here</p>
    
</div>
     <!--FOOTER-->
     <div class="footer">
            <p id="ftext"><strong>&copy 2017 up-keep</strong></p>  
    </div>

<script type="text/javascript">

$("#searchButton").on("click", function(){
    $("#main-content").empty();

    var ytSearch = document.getElementById("youtubeSearch").value;
    console.log("helloA", ytSearch);    

    var queryURL = "https://www.googleapis.com/youtube/v3/search?part=snippet&q=" + ytSearch +"&type=video&maxResults=4&key=AIzaSyDYJIP_3sxyE3-SL-Dh0xAP0BWL98W0-Qs"
    console.log("hello", queryURL);

    var ytHead = "https://www.youtube.com/embed/";
    

    $.ajax({
        url:queryURL,
        method:"GET"
    }).done(function(result){
        var newResults = result.items;
        console.log("hello2", newResults);
        for(var i=0; i < newResults.length; i++){
            console.log("hello3", newResults[i]);
            console.log("hello4", newResults[i].snippet.thumbnails.default.url)
            console.log("hello5", newResults[i].id.videoId);

            var youtubeImage = newResults[i].snippet.thumbnails.default.url;
            var youtubeVidID = newResults[i].id.videoId;

            videoURL = `${ytHead}${youtubeVidID}`;
            $("#main-content").append(`<div class="general-video" data-toggle="modal" data-target="#myModal" data-url="${videoURL}"><iframe class="video-iframe" height="200" width="200" src="${videoURL}" allowfullscreen="allowfullscreen"></iframe></div>`);
            console.log(videoURL);

        };
    });
});
            


    
</script>
</body>
</html>