    <!-- Facebook Script -->
    <script>
		function statusChangeCallback(response) {
			console.log('statusChangeCallback');
			console.log(response);
			if (response.status === 'connected') {
			testAPI();
		    }
		}
			  
		function checkLoginState() {
		    FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
			});
		}
			  
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '2000414620175522',
				cookie     : true,
				xfbml      : true, 
				version    : 'v2.11' 
			});
			  
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
			  
		};
			  
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
			  
		function testAPI() {
		    FB.api('/me', function(response) {
			console.log('Successful login for: ' + response.name);
        });
	    }
    </script>
    <!--/ Facebook Script -->

<!-- Google Script -->
<script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>


    
                <!--NAVBAR-->
        <nav class="navbar navbar-default" id="navbar">
            <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/upkeep"><strong>{{title}}</strong></a>
                  </div>
                  
                    <ul class="nav navbar-nav">
                        <li><a href="/upkeep/preventative">Preventative</a></li>
                        <li><a href="/upkeep/howto">How do I</a></li>
                        <li><a href="/upkeep/findhelp">Get Help</a></li>
                    </ul>
                        <div style="display:flex; justify-content: flex-end; align-items: center;" class="fb-login-button fb_iframe_widget" scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
        </nav>
              
                <!--CAROUSEL-->
        <div id="carousel-example-generic caro" class="carousel slide" data-ride="carousel">
                
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" id="caro">
                    <div class="item active">
                        <img class="caro" src="/img/carousel/winter.jpg">
                    </div>

                    <div class="item">
                        <img class="caro" src="/img/carousel/spring.jpg">
                    </div>

                    <div class="item">
                        <img class="caro" src="/img/carousel/summer.jpg">
                    </div>
                    
                    <div class="item">
                        <img class="caro" src="/img/carousel/fall1.jpg">
                    </div>
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  
                </a>
              </div>

       <!-- <div id="upkeep" class="text-center"><p>up-keep</p></div> -->
            <!--MAIN BODY CONTAINER WITH ICON BUTTONS-->   
    <div class="container" id="main">
        <div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">


                        <script> function EvalSound(soundobj) 
                            {var thissound=document.getElementById(soundobj); thissound.play()}; 
                        </script>

                    <audio id="audio1">
                        <source src="/sounds/check.wav" type="audio/wav">  
                    </audio>

                    <a href="#" onClick="EvalSound('audio1'); setTimeout( function() { window.location.href = '/upkeep/preventative'}, 300);">
                    
                    <img class="click" id="mainbtn" src="/img/icons/check.png"/></a>
                    <h3><strong>Preventative</strong></h3>
                    <p id="desc">Annual & Seasonal suggested maintenance checklists</p>
                </div>
        </div>

        <div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                        <audio id="audio2">
                            <source src="/sounds/click.wav" type="audio/wav">
                        </audio>

                    <a href="#" onClick="EvalSound('audio2'); setTimeout( function() { window.location.href = '/upkeep/howto'}, 300);">
            
                    <img class="click" id="mainbtn" src="/img/icons/tools.png"/></a>
                    <h3><strong>How Do I?</strong></h3>
                    <p id="desc">Do it yourself home repair directory</p>
                </div>
        </div>

        <div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                        <audio id="audio3">
                            <source src="/sounds/click2.wav" type="audio/wav">
                        </audio>

                    <a href="#" onClick="EvalSound('audio3'); setTimeout( function() { window.location.href = '/upkeep/findhelp'}, 300);">

                    <img class="click" id="mainbtn" src="/img/icons/location.png"></a>
                    <h3><strong>Professional Help</strong></h3>
                    <pid="desc">Consult a Professional to troubleshoot or repair issues</p>
                </div>
        </div>

    </div>
</div>

    
            <!--FOOTER-->
    <div class="footer">
        <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><strong>&copy 2018 up-keep</strong>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/upkeep">Home</a></li>
              <li><a href="/upkeep/preventative">Preventative</a></li>
              <li><a href="/upkeep/howto">How do I</a></li>
              <li><a href="/upkeep/findhelp">Find Help</a></li>
              <li class="divider"></li>
              <li><a href="/upkeep/about">About Us</a></li>
            </ul>
          </div>
        </div> 