<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--BOOTSTRAP-->
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<!--LINK TO CSS-->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Chivo:700" rel="stylesheet">

	<!--JQUERY CDN-->
	<script
  	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  	integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>

    <script type="text/javascript" src="../public/js/script.js"></script>
    <script type="text/javascript" src="../public/js/yelp.js"></script>
    <script type="text/javascript" src="../public/js/youtube.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Facebook Login -->
    <script>
		function statusChangeCallback(response) {
			console.log('statusChangeCallback');
			console.log(response);
			if (response.status === 'connected') {
			testAPI();
		    }
		}
			  
		function checkLoginState() {
		    FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
			});
		}
			  
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '2000414620175522',
				cookie     : true,
				xfbml      : true, 
				version    : 'v2.11' 
			});
			  
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
			  
		};
			  
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
			  
		function testAPI() {
		    FB.api('/me', function(response) {
			console.log('Successful login for: ' + response.name);
        });
	    }
    </script>
    <!--/ Facebook Login -->

		<div id="fb-root"></div>
		<div id="status">
			</div>
                            <!--NAVBAR-->
        <nav class="navbar navbar-default" id="navbar">
            <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><strong>up-keep</strong></a>
                  </div>
                    <ul class="nav navbar-nav">
                        <li><a href="preventative.html">Preventative</a></li>
                        <li><a href="howto.html">How do I</a></li>
                        <li><a href="findhelp.html">Get Help</a></li>
                        <li><div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div></li>
                  </ul>
            </div>
        </nav>
              
                <!--CAROUSEL-->
        <div id="carousel-example-generic caro" class="carousel slide" data-ride="carousel">
                
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" id="caro">
                    <div class="item active">
                        <img class="caro" src="../public/img/carousel/winter.jpg">
                    </div>

                    <div class="item">
                        <img class="caro" src="../public/img/carousel/spring.jpg">
                    </div>

                    <div class="item">
                        <img class="caro" src="../public/img/carousel/summer.jpg">
                    </div>
                    
                    <div class="item">
                        <img class="caro" src="../public/img/carousel/fall1.jpg">
                    </div>
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  
                </a>
              </div>

       <!-- <div id="upkeep" class="text-center"><p>up-keep</p></div> -->
            <!--MAIN BODY CONTAINER WITH ICON BUTTONS-->   
    <div class="container" id="main">
        <div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">


                        <script> function EvalSound(soundobj) 
                            {var thissound=document.getElementById(soundobj); thissound.play()}; 
                        </script>

                    <audio id="audio1">
                        <source src="../public/sounds/check.wav" type="audio/wav">  
                    </audio>

                    <a href="#" onClick="EvalSound('audio1'); setTimeout( function() { window.location.href = 'preventative.html'}, 300);">
                    
                    <img class="click" id="mainbtn" src="../public/img/icons/check.png"/></a>
                    <h3><strong>Preventative</strong></h3>
                    <p id="desc">Annual & Seasonal suggested maintenance checklists</p>
                </div>
        </div>

        <div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                        <audio id="audio2">
                            <source src="../public/sounds/click.wav" type="audio/wav">
                        </audio>

                    <a href="#" onClick="EvalSound('audio2'); setTimeout( function() { window.location.href = 'howto.html'}, 300);">
            
                    <img class="click" id="mainbtn" src="../public/img/icons/tools.png"/></a>
                    <h3><strong>How Do I?</strong></h3>
                    <p id="desc">Do it yourself home repair directory</p>
                </div>
        </div>

        <div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                        <audio id="audio3">
                            <source src="../public/sounds/click2.wav" type="audio/wav">
                        </audio>

                    <a href="#" onClick="EvalSound('audio3'); setTimeout( function() { window.location.href = 'findhelp.html'}, 300);">

                    <img class="click" id="mainbtn" src="../public/img/icons/location.png"></a>
                    <h3><strong>Professional Help</strong></h3>
                    <pid="desc">Consult a Professional to troubleshoot or repair issues</p>
                </div>
        </div>

    </div>
</div>

    
            <!--FOOTER-->
    <div class="footer">
            <p id="ftext"><strong>&copy 2017 up-keep</strong></p>  
    </div>


</body>
</html>