<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--BOOTSTRAP-->
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<!--LINK TO CSS-->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Chivo:700" rel="stylesheet">

	<!--JQUERY CDN-->
	<script
  	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  	integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>

    <script type="text/javascript" src="../models/java.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
                <!--NAVBAR-->
                <nav class="navbar navbar-default" id="navbar">
                        <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="index.html"><strong>up-keep</strong></a>
                              </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="preventative.html">Preventative</a></li>
                                    <li><a href="howto.html">How do I</a></li>
                                    <li><a href="findhelp.html">Get Help</a></li>
                              </ul>
                        </div>
                    </nav>

        <img src="https://placeimg.com/2000/200/any">


        <div class="container">
            <h2>Individual Sections:</h2>
            
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">   Tutorials   
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                    <li class="dropdown-header drophead"><strong>Category</strong></li>
                <li><a href="#">Plumbing</a></li>
                <li><a href="#">HVAC</a></li>
                <li><a href="#">Electrical</a></li>
                <li><a href="#">Landscaping</a></li>
                <li><a href="#">Painting</a></li>
                <li><a href="#">General Home Maintenance</a></li>
                <li class="divider"></li>
                <li class="dropdown-header drophead"><strong>Season</strong></li>
                <li><a href="#">Annually</a></li>
                <li><a href="#">Every Season</a></li>
                <li><a href="#">Spring</a></li>
                <li><a href="#">Summer</a></li>
                <li><a href="#">Fall</a></li>
              </ul>
            </div>
          </div>
<br>
          <div class="container checkbox" id="maintextarea">
               <li><label><input class="exampleB" type="checkbox" value="">some task
                
                <a href="#" data-toggle="popover" data-trigger="hover" data-content= "some content"> <img src="../public/img/icons/info.png"></a>

                <a href="#" data-toggle="popover" data-trigger="hover" data-content= "some content"> <img src="../public/img/icons/camera1.png"></a>

                <a href="#" data-toggle="popover" data-trigger="hover" data-content="Some content"><img src="../public/img/icons/question.png"></a>

            </label></li>

              </div>


                    <!--FOOTER-->
    <div class="footer">
        <p id="ftext"><strong>&copy 2017 up-keep</strong></p>  
</div>
           
</body>