                <!--NAVBAR-->
                <nav class="navbar navbar-default" id="navbar">
                        <div class="container-fluid">
                              <div class="navbar-header">
                                <a class="navbar-brand" href="index.html"><strong>up-keep</strong></a>
                              </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="preventative.html">Preventative</a></li>
                                    <li><a href="howto.html">How do I</a></li>
                                    <li><a href="findhelp.html">Get Help</a></li>
                              </ul>
                        </div>
                    </nav>

        <img src="https://placeimg.com/2000/200/any">


        <div class="container">
            <h2>Individual Sections:</h2>
            
            <div class="dropdown1">
              <select id="category" class="dropdown">
                <option value="category">CATEGORY</option>
                <option value="plumbing">Plumbing</option>
                <option value="HVAC">HVAC</option>
                <option value="electrical">Electrical</option>
                <option value="Landscaping">Landscaping</option>
                <option value="painting">Painting</option>
                <option value="general home maintenance">General Home Maintenance</option>
              </select>
            </div>
            <div class="dropdown2">
              <select id="season" class="dropdown">
                <option value="season">SEASON</option>
                <option value="annually">Annually</option>
                <option value="all seasons">All Seasons</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="fall">Fall</option>
              </select>
            </div>
            </div>
          </div>
<br>
          <div class="container checkbox" id="maintextarea">
            <ul id="taskList">
              {{#each task}}
                {{#unless this.checked}}
                    <li class="task" data-season="{{this.timeFrame}}" data-category="{{this.category}}"><label>
                        <input class="exampleB" type="checkbox" value="">{{this.task_name}} ({{this.timeFrame}})
                        <a href="#" data-toggle="popover" data-trigger="hover" data-content= "some content"> <img src="../img/icons/info.png"></a>
                        <a href="#" data-toggle="popover" data-trigger="hover" data-content= "some content"> <img src="../img/icons/camera1.png"></a>
                        <a href="#" data-toggle="popover" data-trigger="hover" data-content="Some content"><img src="../img/icons/question.png"></a>
                    </label></li>
                {{/unless}}
            {{/each}}
            </ul>
          </div>
  {{!-- <button id="filterTasks" class="btn-large" onclick="handleFilterTasksClick()">Filter</button> --}}


              <div class="container">
                
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit</button>
              
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Selected Tasks</h4>
                      </div>
                      <div class="modal-body">
                        <p>This is a large modal.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


                    <!--FOOTER-->
    <div class="footer">
        <p id="ftext"><strong>&copy 2017 up-keep</strong></p>  
</div>

<script>

$(".dropdown1, .dropdown2").change(function() {
  var category = $("#category").val();
  var season = $('#season').val();
  console.log(category, season);
  var tasks = $("#taskList").children();
    tasks.each(function(i, task) {
      if (task.getAttribute("data-category") === category && task.getAttribute("data-season") === season) task.setAttribute("style", "display:visible;");
      else task.setAttribute("style", "display:none;");
    });
});

</script>