<button id="filterTasks" class="btn-large" onclick="???">Filter</button>

<ul id="taskList">
    {{#each task}}
        {{#unless this.checked}}
            <li class="task" data-category="{{this.category}}">{{this.task_name}}</li>
        {{/unless}}
    {{/each}}
</ul>


<script type="text/javascript" src="/js/tasks.js"></script>