body{
    font-family: 'Chivo', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
    background-image: url("../img/backgrounds/brickwall1.png");
}


#bg2{
    opacity: .5;
}
.navbar{
    margin: 0;
    background-color: rgb(247, 247, 247);
    color: white;
          
}

#main{
    padding-top: 2%;
}

#caro{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(235, 235, 235, 0.973);
    box-shadow: 2px 2px 4px 1px #fff;
}

#maintextarea{
    list-style: none;
    font-size: 20px;
}

#desc{
    font-size: 17px;
}

#mainbtn{
    -webkit-filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
    filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
}

#mainbtn:hover{
	opacity: 0.75;
    filter: alpha(opacity=30);
    filter: drop-shadow(8px 8px 8px rgb(0, 6, 43));
}

input[type=checkbox].exampleB {
    transform: scale(1.75);
  }

#ftext{
    padding-top: 1%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 247, 247);
    color: rgb(87, 86, 86);
    text-align: center;
}

.drophead{
    font-size: 18px;
    color: rgb(53, 53, 53);
}



@media only screen and (max-width: 768px) {
	.navbar-default {
display: none;
    }
    
    @media only screen and (max-width: 768px) {
        #mainbtn{
            height: 35%;
            width: 35%;
        }
    }

    @media only screen and (max-width: 768px){
        #upkeep{
            display: show;
        }
    }

    @media only scrren and (max-width: 768px){
        .caro{
            display: none;
        }
    }