
body{
    font-family: 'Chivo', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
    background-image: url("../img/backgrounds/brickwall1.png");
    background-color: gray;
    min-height: 100%;
}


.task {
    list-style: none;
    color: black;
    font-size: 20px;
}


.navbar{
    margin: 0;
    background-color: rgb(247, 247, 247);
    color: white;
          
}

.page-header{
    -webkit-box-shadow: 2px 2px 8px 1px rgba(51, 51, 51, 0.973);
    box-shadow: 2px 2px 4px 1px rgb(53, 53, 53);
}

.yelpshadow{
    -webkit-box-shadow: 2px 2px 8px 1px rgba(51, 51, 51, 0.973);
    box-shadow: 2px 2px 4px 1px rgb(53, 53, 53);
    margin-top: .7%
}

#main{
    padding-top: 2%;
}

#caro{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(235, 235, 235, 0.973);
    box-shadow: 2px 2px 4px 1px #fff;
}

#maintextarea{
    list-style: none;
    font-size: 20px;
}

#desc{
    font-size: 17px;
}

#mainbtn{
    -webkit-filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
    filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
}

.youtubeSearch{
    -webkit-filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
    filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
}

#mainbtn:hover{
	opacity: 0.75;
    filter: alpha(opacity=30);
    filter: drop-shadow(8px 8px 8px rgb(0, 6, 43));
}

input[type=checkbox].exampleB {
    transform: scale(1.75);
  }

  
  .page-header{
      margin: 0%;
      padding: 0%;
      background: white;
      border-top: 1px;
      border-top-style: solid;
      border-top-color: rgb(83, 83, 83);
    }
    
    .page-header1{
        margin: 0%;
        padding: 0%;
        background: #5EB3E9;
        text-align: center;
        -webkit-box-shadow: 2px 2px 8px 1px rgba(15, 15, 15, 0.973);
        box-shadow: 2px 2px 4px 1px rgb(43, 42, 42);
        border-top: 1px;
        border-top-style: solid;
        border-top-color: black;
    }

    
    .page-header2{
        margin: 0%;
        padding: 0%;
        background-color: white;
        -webkit-box-shadow: 2px 2px 8px 1px rgba(15, 15, 15, 0.973);
        box-shadow: 2px 2px 4px 1px rgb(43, 42, 42);
        border-top: 1px;
        border-top-style: solid;
        border-top-color: rgb(82, 82, 82);
        text-align: center;
    }
    
    .general-video{
        height:315px;
        width: 355px;
        float: left;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: .15%;
        width: auto;
    }
    

    
    #checkheader{
        height: 150px;
        
    }
    
    
    #helpheader{
        height: 150px;
        float: center;
        background-color: white;
    }
    
    #check {
        width: 30px;
        height: 30px;
        margin-right: 1%;
    }
    
    .footer {
        position: fixed;
        margin-top: 5%;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(247, 247, 247);
        color: rgb(87, 86, 86);
    }
    
    .footer-fixed {  
        
        width: 100%;
        background-color: rgb(247, 247, 247);
        color: rgb(87, 86, 86);
        margin-top: 1%;
        
    }
    
    #ftext{
        padding-top: 1%;
        
    }

#ftext{
    padding-top: 1%;
}

.page-header{
    margin: 0%;
    padding: 0%;
    background: white;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: rgb(83, 83, 83);
}


.general-video{
    height:315px;
    width: 355px;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: .15%;
}



#checkheader{
    height: 150px;

}

._5h0o{
    float: right;
    padding-top: 2px;
}

#check {
    width: 30px;
    height: 30px;
    margin-right: 1%;
}




.drophead{
    font-size: 18px;
    color: rgb(53, 53, 53);
}

.dropdown1, .dropdown2{
    padding-bottom: 1%;
    font-size: 18px;
    -webkit-filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
    filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
}

#howtodesc{
    background:rgb(250, 250, 250, 0.2);
    margin-top: 1%;
    -webkit-filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
    filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
}

.page-header4{
    width: auto;
}



#purple{
    height: 300px;
    width: 100%;
    -webkit-filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
    filter: drop-shadow(4px 4px 4px rgb(48, 48, 48));
}

.help-me {
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
  }
  
  .help-me:hover {
    background-color: #eee;
  }
  
  article.help-me {
      background: white;
      opacity: .8;
      padding: 20px;
  }
  
  .help-me .featured-image {
    width: 12%;
    float: left;
    margin: 1.5%;
    max-width: 60px;
  }
  
  .help-me .featured-image img {
    max-width: 100%;
  }
  
  .help-me .help-me-content {
    width: 70%;
    float: left;
  }
  
  .help-me .help-me-content a {
    text-decoration: none;
  }
  
  .help-me .help-me-content h3 {
    margin-bottom: 0;
    color: #337ab7;
  }
  .help-me .help-me-content h3:hover {
    opacity: .7;
  }
  
  .help-me .help-me-content h6 {
    margin-top: 0;
    color: #666;
  }
  
  .help-me .rating {
    width: 15%;
    float: right;
    font-size: 15px;
    margin-top: 15px;
    text-align: right;
    color: #ff390c;
  }
  .address {
  
  }



@media screen {
    #printSection {
        display: none;
    }
  }
  
  @media print {
    body * {
      visibility:hidden;
    }
    #printSection, #printSection * {
      visibility:visible;
    }
    #printSection {
      position:absolute;
      left:0;
      top:0;
    }
  }

@media only screen and (max-width: 768px) {
	.navbar-default {
display: none;
    }
    .page-header{
        height: auto;
        width: auto;
    }
    .page-header1{
        height: auto;
        width: auto;
    }
    .page-header2{
        height: auto;
        width: auto;
    }

   
    
    
  
}

    @media only screen and (max-width: 768px) {
        #mainbtn{
            height: 35%;
            width: 35%;
        }
        #howtodesc{
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 768px){
        #upkeep{
            display: show;
        }
    }

    @media only screen and (max-width: 768px){
        .caro{
            display: none;
        }
    }

    @media only screen and (max-width: 768px){
        #footermobile{
            display: show;
            display: inline;
        }
    }

    @media only screen and (min-width : 992px) {
        #footermobile{
            display: none;
        }

    }

    @media only screen and (min-width : 1200px) {
        #footermobile{
            display: none;
        }

    }
    
